// colors
$primary-color: #030b61;
$secondary-color: #0b8fef;
$light-color: #09aeff;
$lightest-color: #0a95f2;



// background
$primary-blue-gradient: linear-gradient(194deg, #1040c6, #09aeff);
$search-blue-gradient: linear-gradient(178deg, #1040c6 -26%, #09aeff 99%);