.footer {
  margin-top: 206px;
  border-radius: 0% 20% 0% 0% / 0% 50% 0% 0%;
  background-color: #030b61;
}

.list-categories {
  margin-top: 116px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  justify-items: stretch;
}

.header-categories {
  font-family: $overpass;
  font-size: 38px;
  font-weight: normal;
  color: #ffffff;
  margin: 118px 0 40px 0;
}

.sub-categories {
  opacity: 0.42;
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  margin: 0 0 25px 0;
}

.wrapper-credit {
  position: relative;
  background-color: #030b61;
  overflow: hidden;
}

.credit {
  float: right;
  opacity: 0.42;
  font-size: 22px;
  font-weight: 600;
  line-height: 3.91;
  padding: 89px 0 75px 0;
  color: #ffffff;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
  
}

// Extra small devices (portrait phones, less than I 768px)
@media (max-width: 768px) {
  
}