.footer {
  margin-top: 20.6rem;
  border-radius: 0% 20% 0% 0% / 0% 50% 0% 0%;
  background-color: #030b61;
}

.list-categories {
  margin-top: 11.6rem;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  justify-items: stretch;
}

.header-categories {
  font-family: $overpass;
  font-size: 3.8rem;
  font-weight: normal;
  color: #ffffff;
  margin: 11.8rem 0 4rem 0;
}

.sub-categories {
  opacity: 0.42;
  font-size: 2.6rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 2.5rem;
}

.wrapper-credit {
  position: relative;
  background-color: #030b61;
  overflow: hidden;
}

.credit {
  float: right;
  opacity: 0.42;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.91;
  padding: 8.9rem 0 7.5rem 0;
  color: #ffffff;
}
