.secondary-header {
  font-size: 5.5rem;
}

.secondary-sub-header {
  font-size: 3.5rem;
  line-height: 1.69;
}

.recommended-jobs-top {
  margin-top: 15rem;

  .left {
    flex: 50%;
  }

  .right {
    flex: 50%;
    justify-content: flex-end;
    align-items: center;

    .custom-button {
      margin-left: 25px;
      width: 19rem;
      height: 6.4rem;
      font-size: 2.1rem;
      font-weight: 600;
      padding: 0;

      @media (max-width: 768px) {
        margin-top: 11rem;
      }
    }

    @media (max-width: 768px) {
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.carousel-container {
  margin-top: 12.3rem;
  justify-content: space-between;

  .second-job,
  .third-job {
    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.carousel-card {
  width: 51rem;
  height: auto;
  border-radius: 30px;
  position: relative;
  box-shadow: 0 2px 78px 0 rgba(27, 40, 155, 0.12);
  border: solid 1px rgba(112, 112, 112, 0.22);
  background-color: #ffffff;
}

.carousel-top-image {
  position: relative;
  margin: 2.4rem;
  height: 14.4rem;
  width: 13.7rem;

  .triangle,
  .triangle:before,
  .triangle:after {
    background-color: #0a95f2;
    width: 10rem;
    height: 10rem;
  }

  .triangle {
    top: -3px;
    left: -6px;
  }

  img {
    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(40% - 2.5rem);
  }
}

.carousel-top-icon {
  width: 5rem;
  height: 5rem;
}

.carousel-top-right-title {
  font-size: 2.3rem;
  font-weight: 600;
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
}

.carousel-header {
  margin-top: 3rem;
  font-size: 3.3rem;
  font-weight: 600;
  margin: 0 2.4rem;
}

.carousel-description {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2.18;
  opacity: 0.5;
  margin: 3rem 2.4rem 0 2.4rem;
}

.carousel-divider {
  margin-top: 4.2rem;
}

.carousel-bottom {
  margin: 4.2rem 2.5rem;
  justify-content: space-between;
  align-items: center;
}

.carousel-price {
  font-size: 3.3rem;
  font-weight: bold;
  line-height: 1.91;
}

.carousel-select-icon {
  padding-top: 3px;
}

.carousel-button > .border-button {
  width: 17rem;
  height: 5.3rem;
  border-radius: 27px;
  border: solid 2px #0b8fef;
  background-color: #ffffff;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: #09aeff;
}

// Logic for caurosel

// default state
.carousel-container .forth-job {
  display: none;
}

