.work-with-talented-people {
  margin: 178px 142px 0 142px;
}

.work-with-talented-people > .left {
  flex: 1;
}

.work-with-talented-people > .right {
  position: relative;
  flex: 1;
}

.work-talented-button {
  margin-top: 90px;
}

.blur-profile-list {
  width: 680px;
  height: 537px;
  border-radius: 20px;
  box-shadow: 0 20px 99px 0 rgba(3, 11, 97, 0.19);
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
}

.color-header {
  display: flex;
  justify-content: center;
}

.header-title {
  width: 680px;
  height: 132px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-image: linear-gradient(178deg, #1040c6 -53%, #09aeff 92%);
  font-family: $oswald;
  font-size: 46px;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.69px;
  color: #ffffff;
}

.profile-image-list {
  grid-template-columns: auto auto auto auto auto;
  margin: 67px 45px 0px 45px;
  justify-items: center;
}

.profile-image-item > img {
  width: 103px;
  height: 103px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 45px;
}

.profile-05 {
  object-fit: cover;
  object-position: 0 -50%;
}

.single-profile {
  width: 342px;
  height: 369px;
  border-radius: 20px;
  box-shadow: 0 31px 93px 0 rgba(27, 40, 155, 0.1);
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.medal {
  position: absolute;
  top: 0;
  right: 0;
  margin: 21px 16px 0 0;
}

.single-profile {
  left: 5%;
  top: 72%;
}

.single-profile-detail {
  flex-direction: column;
  align-items: center;
}

.profile-image > img {
  margin-top: 44px;
  width: 114px;
  height: 114px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.46;
  letter-spacing: normal;
  text-align: left;
  color: #030b61;
}

.profile-title {
  opacity: 0.68;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.06;
  letter-spacing: normal;
  text-align: left;
  color: #030b61;
}

.profile-description {
  text-align: justify;
  margin: 15px 28px 0 28px;
  opacity: 0.36;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: center;
  color: #030b61;
}
