@import url(https://fonts.googleapis.com/css?family=Overpass&display=swap);
@import url(https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap);
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}
@media (max-width: 576px) {
  html {
    font-size: 5px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 7px;
  }
}
body {
  font-family: "Muli";
  color: #030b61;
}

.outer-wrapper {
  max-width: 1636px;
  margin: 4.2rem auto 0 auto;
  padding: 0 4.2rem;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.some-special-quotes {
  display: none;
}

.are-you-ready {
  display: none;
}

.footer {
  display: none;
}

.custom-button {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-family: "Muli";
  font-weight: 600;
  margin: 4px 2px;
  border-radius: 27px;
  cursor: pointer;
}

.light-background-button {
  color: #0a95f2;
  background-color: rgba(9, 174, 255, 0.11);
  border: none;
}

.dark-background-button {
  color: white;
  background: linear-gradient(178deg, #1040c6 -122%, #09aeff 96%);
  border: none;
}

.border-button {
  border: solid 2px #0b8fef;
}

.big-border-button {
  width: 30rem;
  height: 9rem;
  border-radius: 4.6rem;
  border: solid 3px #09aeff;
  background-color: #ffffff;
  padding: 0;
  font-size: 3.1rem;
  font-weight: 600;
  line-height: 1.81;
  color: #09aeff;
}

.circle-wrapper {
  width: 11.7rem;
  height: 11.7rem;
  border-radius: 6.6rem;
  top: calc(50% - 5.85rem);
  right: 1.5rem;
}

.inner-icon {
  width: 3.33rem;
  height: 3.33rem;
  object-fit: contain;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white-circle-wrapper {
  background-color: white;
}

.color-circle-wrapper {
  background-image: linear-gradient(178deg, #1040c6 -26%, #09aeff 99%);
}

.top-nav-list {
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .top-nav-list {
    justify-content: space-between;
    align-items: flex-start;
  }
}

.rectangle-right-left {
  width: 9.4rem;
  height: 9.3rem;
  background-image: linear-gradient(178deg, #1040c6 -122%, #09aeff 96%);
  font-family: "Oswald";
}

.inside-color-background {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  color: white;
}

.conner-circle {
  border-radius: 30% 30% 0% 30%;
}

.topnav {
  /* Hide the link that should open and close the topnav on small screens */
}
.topnav a {
  color: #030b61;
  padding: 24px 20px;
  text-decoration: none;
  font-size: 2.4rem;
  font-family: "Muli";
  font-weight: 600;
}
.topnav a.active {
  color: #0b8fef;
}
@media (max-width: 768px) {
  .topnav a {
    display: none;
  }
}
.topnav .custom-button {
  width: 27.4rem;
  border-radius: 4.4rem;
  background-color: rgba(9, 174, 255, 0.17);
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .topnav .icon {
    display: block;
  }
}
.topnav.responsive {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.topnav.responsive a {
  display: block;
}
.topnav.responsive a.icon {
  align-self: flex-end;
}

.triangle {
  position: relative;
  background-color: orange;
  text-align: left;
}

.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
}

.triangle,
.triangle:before,
.triangle:after {
  width: 10em;
  height: 10em;
  border-top-right-radius: 75%;
}

.triangle {
  transform: rotate(-90deg) skewX(-30deg) scale(1, 0.866);
}

.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}

.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

.color-divider {
  height: 1px;
  background-color: rgba(112, 112, 112, 0.22);
}

.white-divider {
  height: 1px;
  background-color: white;
}

.carousel-indicator {
  justify-content: flex-end;
  align-items: center;
  margin-top: 9rem;
}

.carousel-indicator-item {
  margin-left: 5.4rem;
}

.active {
  width: 7.4rem;
  height: 4.4rem;
}

.inactive {
  width: 4.5rem;
  height: 3.2rem;
}

.left-active,
.right-inactive {
  transform: rotate(180deg);
}

.left-active,
.right-inactive {
  display: none;
}

.rounded-image {
  width: 114px;
  height: 114px;
  object-fit: cover;
  border-radius: 50%;
}

.find-a-perfect-main {
  margin: 4rem 0 0 0;
}
@media (max-width: 768px) {
  .find-a-perfect-main {
    flex-direction: column;
  }
}
.find-a-perfect-main .left {
  flex: 50%;
}
@media (max-width: 768px) {
  .find-a-perfect-main .left {
    flex: 0;
  }
}
.find-a-perfect-main .right {
  flex: 50%;
}
@media (max-width: 768px) {
  .find-a-perfect-main .right {
    flex: 0;
    padding-bottom: 26rem;
  }
}
.find-a-perfect-main .right:after {
  clear: both;
}

.header {
  font-family: "Overpass";
}

.main-header {
  font-size: 9.9rem;
  margin-top: 10rem;
  line-height: 1.19;
}

.sub-header {
  font-family: "Muli";
  opacity: 0.5;
}

.main-sub-header {
  font-size: 4.8rem;
}

.search-bar {
  width: 100%;
  height: 14rem;
  margin-top: 5.6rem;
  box-shadow: 0 16px 68px 0 rgba(27, 40, 155, 0.11);
  border-radius: 7rem;
  justify-content: space-between;
}

.input-inside {
  color: #030b61;
  opacity: 0.5;
  border: none;
  font-family: "Muli";
  font-size: 3.3rem;
  font-weight: 600;
  position: relative;
  float: left;
  letter-spacing: -0.26px;
  transform: translate(20%, calc(50% - 7rem));
}

input::placeholder {
  opacity: 0.2;
}

input[type=text] {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.search-button {
  position: relative;
  float: right;
}

.brand-wrapper {
  position: relative;
  margin-top: 125px;
}

.trust {
  opacity: 0.25;
  font-size: 3.1rem;
  font-weight: 600;
  line-height: 2.03;
  position: absolute;
  top: 5%;
}

.brand-list {
  align-items: center;
}

.brand-logo {
  width: 100%;
}

#first-brand-logo {
  padding-right: 40px;
}

#third-brand-logo {
  padding-right: 30px;
}

.top-right-image {
  position: relative;
  margin-left: 12.4rem;
}
@media (max-width: 768px) {
  .top-right-image {
    margin-left: 5.85rem;
  }
}

.top-right-image-item {
  width: 100%;
}

.suitcase-icon {
  position: absolute;
  top: calc(45% - 5.85rem);
  left: -5.85rem;
  box-shadow: 0 3px 35px 0 rgba(3, 11, 97, 0.2);
}

.portfolio {
  width: 4.7rem;
  height: 4.1rem;
}

.phone-icon {
  width: 7.7rem;
  height: 7.7rem;
  position: absolute;
  top: calc(75% - 3.85rem);
  left: calc(15% - 3.85rem);
}

.phone {
  width: 4.7rem;
  height: 4.1rem;
}

.man-user-icon {
  width: 7.1rem;
  height: 7.1rem;
  position: absolute;
  top: calc(50% - 3.55rem);
  left: calc(85% - 3.55rem);
}

.man-user {
  width: 4.7rem;
  height: 4.1rem;
}

.web-developer {
  width: 45%;
  height: 43rem;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 24px 93px 0 rgba(27, 40, 155, 0.12);
  background-color: #ffffff;
  position: absolute;
  top: calc(72%);
  left: calc(33%);
}

.web-developer-title {
  margin-top: 17px;
  font-family: "Muli";
  font-size: 2.8rem;
  font-weight: 700;
}

.web-developer-description {
  margin-top: 33px;
  font-size: 1.4rem;
  font-family: "Muli";
  font-weight: 600;
  line-height: 1.93;
  opacity: 0.3;
}

.web-developer-detail {
  margin-top: 30px;
  color: #0a95f2;
}

#more {
  margin-left: 10px;
}

.language-tag-list {
  margin-top: 14px;
}

.language-tag-list > .flex-container > button {
  margin-right: 1.6rem;
  margin-top: 1.6rem;
  height: 4.2rem;
  border-radius: 4.4rem;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0px;
}

.first-tags {
  width: 30%;
}

.second-tags {
  width: 40%;
}

.clear-fix {
  clear: both;
}

.secondary-header {
  font-size: 5.5rem;
}

.secondary-sub-header {
  font-size: 3.5rem;
  line-height: 1.69;
}

.recommended-jobs-top {
  margin-top: 15rem;
}
.recommended-jobs-top .left {
  flex: 50%;
}
.recommended-jobs-top .right {
  flex: 50%;
  justify-content: flex-end;
  align-items: center;
}
.recommended-jobs-top .right .custom-button {
  margin-left: 25px;
  width: 19rem;
  height: 6.4rem;
  font-size: 2.1rem;
  font-weight: 600;
  padding: 0;
}
@media (max-width: 768px) {
  .recommended-jobs-top .right .custom-button {
    margin-top: 11rem;
  }
}
@media (max-width: 768px) {
  .recommended-jobs-top .right {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .recommended-jobs-top {
    flex-direction: column;
  }
}

.carousel-container {
  margin-top: 12.3rem;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .carousel-container .second-job,
.carousel-container .third-job {
    display: none;
  }
}
@media (max-width: 768px) {
  .carousel-container {
    justify-content: center;
  }
}

.carousel-card {
  width: 51rem;
  height: auto;
  border-radius: 30px;
  position: relative;
  box-shadow: 0 2px 78px 0 rgba(27, 40, 155, 0.12);
  border: solid 1px rgba(112, 112, 112, 0.22);
  background-color: #ffffff;
}

.carousel-top-image {
  position: relative;
  margin: 2.4rem;
  height: 14.4rem;
  width: 13.7rem;
}
.carousel-top-image .triangle,
.carousel-top-image .triangle:before,
.carousel-top-image .triangle:after {
  background-color: #0a95f2;
  width: 10rem;
  height: 10rem;
}
.carousel-top-image .triangle {
  top: -3px;
  left: -6px;
}
.carousel-top-image img {
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(40% - 2.5rem);
}

.carousel-top-icon {
  width: 5rem;
  height: 5rem;
}

.carousel-top-right-title {
  font-size: 2.3rem;
  font-weight: 600;
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
}

.carousel-header {
  margin-top: 3rem;
  font-size: 3.3rem;
  font-weight: 600;
  margin: 0 2.4rem;
}

.carousel-description {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2.18;
  opacity: 0.5;
  margin: 3rem 2.4rem 0 2.4rem;
}

.carousel-divider {
  margin-top: 4.2rem;
}

.carousel-bottom {
  margin: 4.2rem 2.5rem;
  justify-content: space-between;
  align-items: center;
}

.carousel-price {
  font-size: 3.3rem;
  font-weight: bold;
  line-height: 1.91;
}

.carousel-select-icon {
  padding-top: 3px;
}

.carousel-button > .border-button {
  width: 17rem;
  height: 5.3rem;
  border-radius: 27px;
  border: solid 2px #0b8fef;
  background-color: #ffffff;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: #09aeff;
}

.carousel-container .forth-job {
  display: none;
}

.why-you-choose-recruite {
  margin: 3.2rem 0 0 0;
}

.aspect-list {
  grid-template-columns: auto auto;
  margin-top: 14.7rem;
  width: 100%;
}

.aspect-item {
  width: 48.5rem;
  height: auto;
  box-shadow: 0 2.4rem 9.1rem 0 rgba(3, 11, 97, 0.08);
  background-color: #ffffff;
  position: relative;
}
.aspect-item .outside-icon img {
  width: 20rem;
  height: 20rem;
  position: absolute;
  top: calc(-35%);
  right: calc(-19%);
  z-index: -10;
}

.first-aspect {
  justify-self: end;
  margin: 0 2.5rem 2.8rem 0;
}

.second-aspect {
  margin: 0 0 2.8rem 2.5rem;
}

.third-aspect {
  justify-self: end;
  margin: 2.8rem 2.5rem 0 0;
}

.forth-aspect {
  margin: 2.8rem 0 0 2.5rem;
}

.grid-triangle-wrapper {
  width: 10.9rem;
  height: 10.4rem;
  position: relative;
}
.grid-triangle-wrapper .triangle {
  top: 0.1rem;
  left: 1.8rem;
}

.aspect-header {
  margin: 1.2rem 0 0 4rem;
}
.aspect-header .triangle,
.aspect-header .triangle:before,
.aspect-header .triangle:after {
  width: 7.5rem;
  height: 7.5rem;
}
.aspect-header .triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
  opacity: 0.13;
}

.first-aspect .triangle-icon {
  position: absolute;
  width: 6.4rem;
  height: 4.1rem;
  top: calc(55% - 2.05rem);
  left: calc(50% - 3.2rem);
}
.first-aspect .aspect-header .triangle,
.first-aspect .aspect-header .triangle:before,
.first-aspect .aspect-header .triangle:after {
  background-color: #09aeff;
}

.second-aspect .triangle-icon {
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  top: calc(55% - 2.75rem);
  left: calc(50% - 2.75rem);
}
.second-aspect .aspect-header .triangle,
.second-aspect .aspect-header .triangle:before,
.second-aspect .aspect-header .triangle:after {
  background-color: #d2550d;
}

.third-aspect .triangle-icon {
  position: absolute;
  width: 6.4rem;
  height: 5.7rem;
  top: calc(55% - 2.85rem);
  left: calc(50% - 3.2rem);
}
.third-aspect .aspect-header .triangle,
.third-aspect .aspect-header .triangle:before,
.third-aspect .aspect-header .triangle:after {
  background-color: #23dce1;
}

.forth-aspect .triangle-icon {
  position: absolute;
  width: 5.5rem;
  height: 5.8rem;
  top: calc(55% - 2.9rem);
  left: calc(50% - 2.75rem);
}
.forth-aspect .aspect-header .triangle,
.forth-aspect .aspect-header .triangle:before,
.forth-aspect .aspect-header .triangle:after {
  background-color: #d8d846;
}

.aspect-title {
  font-size: 2.6rem;
  font-weight: bold;
  padding: 4.6rem 1rem 0 2.5rem;
}

.aspect-description {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.75;
  opacity: 0.5;
  margin: 4.6rem 3.6rem 3.6rem 3.6rem;
}

.aspect-button {
  margin-top: 15.5rem;
  display: flex;
  justify-content: center;
}

.work-with-talented-people {
  margin: 17.8rem 0 0 0;
}
.work-with-talented-people .left {
  flex: 50%;
}
.work-with-talented-people .right {
  flex: 50%;
  position: relative;
}
@media (max-width: 768px) {
  .work-with-talented-people .right {
    margin-top: 20rem;
  }
}
@media (max-width: 768px) {
  .work-with-talented-people {
    flex-direction: column;
  }
}

.work-talented-button {
  margin-top: 9rem;
}

.blur-profile-list {
  width: 83%;
  border-radius: 2rem;
  box-shadow: 0 20px 99px 0 rgba(3, 11, 97, 0.19);
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
}

.color-header {
  text-align: center;
}

.header-title {
  width: 100%;
  height: auto;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background-image: linear-gradient(178deg, #1040c6 -53%, #09aeff 92%);
  font-family: "Oswald";
  font-size: 4.6rem;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.69px;
  color: #ffffff;
  padding: 3rem 0;
}

.profile-image-list {
  grid-template-columns: auto auto auto auto auto;
  margin: 6.7rem 7% 0px 7%;
  justify-items: center;
}

.profile-image-item > img {
  width: 10.3rem;
  height: 10.3rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 4.5rem;
}

.single-profile {
  width: 50%;
  height: auto;
  border-radius: 2rem;
  box-shadow: 0 31px 93px 0 rgba(27, 40, 155, 0.1);
  background-color: #ffffff;
  position: absolute;
  top: -10%;
  left: 0;
}

.medal {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2.1rem 1.6rem 0 0;
}

.single-profile-detail {
  flex-direction: column;
  align-items: center;
}

.profile-image > img {
  margin-top: 4.4rem;
  width: 11.4rem;
  height: 11.4rem;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 2.46;
  color: #030b61;
}

.profile-title {
  opacity: 0.68;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 2.06;
  color: #030b61;
}

.profile-description {
  text-align: justify;
  margin: 1.5rem 3.2rem 4.7rem 3.2rem;
  opacity: 0.36;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.83;
  color: #030b61;
}

.some-special-quotes {
  margin-top: 390px;
}

.top-quote > .left {
  flex: 1;
}

.top-quote > .right {
  flex: 1;
  position: relative;
}

.top-quote > .right > .carousel-indicator {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 0;
  bottom: 0;
}

.quotes-carousel {
  width: 100%;
  height: 50%;
  margin: 109px 0 0 0;
}

.quote-carousel-item {
  width: 45%;
  height: auto;
  box-shadow: 0 15px 98px 0 rgba(3, 11, 97, 0.1);
  background-color: #ffffff;
  position: relative;
  margin: 0 43px 0 0;
}

.top-quote-mark {
  position: absolute;
  top: 5%;
  left: 8%;
}

.bottom-quote-mark {
  position: absolute;
  bottom: 5%;
  right: 8%;
}

.quote-content {
  opacity: 0.61;
  font-family: Muli;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: #030b61;
  padding: 117px 50px 0 50px;
}

.quote-owner {
  align-items: center;
  margin: 48px 0 48px 0;
}

.quote-owner > .right {
  margin: 0 50px 0 27px;
}

.quote-owner-image > .rounded-image {
  width: 91px;
  height: 91px;
  margin: 0 0 0 50px;
}

.quote-owner-name {
  font-size: 28px;
  font-weight: bold;
  color: #030b61;
}

.quote-owner-job-title {
  opacity: 0.61;
  font-size: 22px;
  font-weight: 600;
  color: #030b61;
  margin: 6px 0 0 0;
}

.quote-item-forth {
  display: none;
}

.are-you-ready {
  margin-top: 208px;
  flex-direction: column;
  align-items: center;
}

.send-bar {
  width: 66%;
  height: 112px;
  border-radius: 61px;
  box-shadow: 0 7px 90px 0 rgba(3, 11, 97, 0.09);
  margin-top: 80px;
  justify-content: space-between;
}

.send-bar > div > .input-inside {
  transform: translate(20%, calc(50% + 14px));
}

.input-inside:focus {
  outline-width: 0;
  outline: none;
}

.rounded-conner-wrapper {
  width: 32%;
  height: 112px;
  border-radius: 61px;
  background-image: linear-gradient(199deg, #1040c6 -26%, #09aeff 99%);
  float: right;
}

.text-button {
  font-size: 31px;
  font-weight: 600;
  line-height: 2.77;
  color: #ffffff;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  margin-top: 206px;
  border-radius: 0% 20% 0% 0%/0% 50% 0% 0%;
  background-color: #030b61;
}

.list-categories {
  margin-top: 116px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  justify-items: stretch;
}

.header-categories {
  font-family: "Overpass";
  font-size: 38px;
  font-weight: normal;
  color: #ffffff;
  margin: 118px 0 40px 0;
}

.sub-categories {
  opacity: 0.42;
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  margin: 0 0 25px 0;
}

.wrapper-credit {
  position: relative;
  background-color: #030b61;
  overflow: hidden;
}

.credit {
  float: right;
  opacity: 0.42;
  font-size: 22px;
  font-weight: 600;
  line-height: 3.91;
  padding: 89px 0 75px 0;
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
