.why-you-choose-recruite {
  margin: 3.2rem 0 0 0;
}

.aspect-list {
  grid-template-columns: auto auto;
  margin-top: 14.7rem;
  width: 100%;

  .aspect-item {
    width: 48.5rem;
    height: auto;
    box-shadow: 0 2.4rem 9.1rem 0 rgba(3, 11, 97, 0.08);
    background-color: #ffffff;
    position: relative;

    .outside-icon {
      img {
        width: 10rem;
        height: 20rem;
        position: absolute;
        object-fit: cover;
        top: calc(-35%);
        right: calc(-8%);
        z-index: -10;
      }
    }

    @media (max-width: 768px) {
      justify-self: center;
      margin: 0 0 5.7rem 0;
    }

    @media (max-width: 576px) {
      width: 80%;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: auto;
    justify-items: center;
  }
}

.first-aspect {
  justify-self: end;
  margin: 0 2.5rem 2.8rem 0;
}

.second-aspect {
  margin: 0 0 2.8rem 2.5rem;
}

.third-aspect {
  justify-self: end;
  margin: 2.8rem 2.5rem 0 0;
}

.forth-aspect {
  margin: 2.8rem 0 0 2.5rem;
}

.grid-triangle-wrapper {
  width: 10.9rem;
  height: 10.4rem;
  position: relative;

  .triangle {
    top: 0.1rem;
    left: 1.8rem;
  }
}

.aspect-header {
  margin: 1.2rem 0 0 4rem;

  .triangle,
  .triangle:before,
  .triangle:after {
    width: 7.5rem;
    height: 7.5rem;
  }

  .triangle {
    transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
    opacity: 0.13;
  }
}

.first-aspect {
  .triangle-icon {
    position: absolute;
    width: 6.4rem;
    height: 4.1rem;
    top: calc(55% - 2.05rem);
    left: calc(50% - 3.2rem);
  }

  .aspect-header {
    .triangle,
    .triangle:before,
    .triangle:after {
      background-color: #09aeff;
    }
  }
}

.second-aspect {
  .triangle-icon {
    position: absolute;
    width: 5.5rem;
    height: 5.5rem;
    top: calc(55% - 2.75rem);
    left: calc(50% - 2.75rem);
  }

  .aspect-header {
    .triangle,
    .triangle:before,
    .triangle:after {
      background-color: #d2550d;
    }
  }
}

.third-aspect {
  .triangle-icon {
    position: absolute;
    width: 6.4rem;
    height: 5.7rem;
    top: calc(55% - 2.85rem);
    left: calc(50% - 3.2rem);
  }

  .aspect-header {
    .triangle,
    .triangle:before,
    .triangle:after {
      background-color: #23dce1;
    }
  }
}

.forth-aspect {
  .triangle-icon {
    position: absolute;
    width: 5.5rem;
    height: 5.8rem;
    top: calc(55% - 2.9rem);
    left: calc(50% - 2.75rem);
  }

  .aspect-header {
    .triangle,
    .triangle:before,
    .triangle:after {
      background-color: #d8d846;
    }
  }
}

.aspect-title {
  font-size: 2.6rem;
  font-weight: bold;
  padding: 4.6rem 1rem 0 2.5rem;
}

.aspect-description {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.75;
  opacity: 0.5;
  margin: 4.6rem 3.6rem 3.6rem 3.6rem;
}

.aspect-button {
  margin-top: 15.5rem;
  display: flex;
  justify-content: center;
}
