.work-with-talented-people {
  margin-top: 17.8rem;

  .left {
    flex: 50%;
  }

  .right {
    flex: 50%;
    position: relative;

    @media (max-width: 768px) {
      margin-top: 20rem;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.work-talented-button {
  margin-top: 9rem;
}

.blur-profile-list {
  width: 83%;
  border-radius: 2rem;
  box-shadow: 0 20px 99px 0 rgba(3, 11, 97, 0.19);
  background-color: #ffffff;
  float: right;
  opacity: 0.5;
}

.color-header {
  text-align: center;
}

.header-title {
  width: 100%;
  height: auto;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background-image: linear-gradient(178deg, #1040c6 -53%, #09aeff 92%);
  font-family: $oswald;
  font-size: 4.6rem;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.69px;
  color: #ffffff;
  padding: 3rem 0;
}

.profile-image-list {
  grid-template-columns: auto auto auto auto auto;
  margin: 6.7rem 4.5rem 4.4rem 4.5rem;
  justify-items: center;

  .profile-image-item {
    width: 10.3rem;
    height: 10.3rem;
    margin-bottom: 4.4rem;

    img {
      width: 10.3rem;
      height: 10.3rem;
      object-fit: cover;
      margin-bottom: 4.5rem;
      border-radius: 50%;

      @media (max-width: 576px) {
        width: 7.725rem;
        height: 7.725rem;
      }
    }

    @media (max-width: 576px) {
      width: 7.725rem;
      height: 7.725rem;
    }
  }
}

.single-profile {
  width: 45%;
  height: auto;
  border-radius: 2rem;
  box-shadow: 0 31px 93px 0 rgba(27, 40, 155, 0.1);
  background-color: #ffffff;
  float: left;
  margin-top: -22%;
  z-index: 10;
  position: relative;

  .medal {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2.1rem 1.6rem 0 0;

    img {
      width: 4.2rem;
      height: 4.2rem;
      object-fit: scale-down;
    }
  }
}

.single-profile-detail {
  flex-direction: column;
  align-items: center;

  .profile-image {
    img {
      margin-top: 4.4rem;
      width: 11.4rem;
      height: 11.4rem;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .profile-name {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 2.46;
    color: #030b61;
  }

  .profile-title {
    opacity: 0.68;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 2.06;
    color: #030b61;
  }

  .profile-description {
    text-align: justify;
    margin: 1.5rem 3.2rem 4.7rem 3.2rem;
    opacity: 0.36;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.83;
    color: #030b61;
  }
}
