.custom-button {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: $muli;
  font-weight: 600;
  margin: 4px 2px;
  border-radius: 27px;
  cursor: pointer;
}

.light-background-button {
  color: #0a95f2;
  background-color: rgba(#09aeff, .11);
  border: none;
}

.dark-background-button {
  color: white;
  background: linear-gradient(178deg, #1040c6 -122%, #09aeff 96%);
  border: none;
}

.border-button {
  border: solid 2px #0b8fef;
}

.big-border-button {
  width: 300px;
  height: 90px;
  border-radius: 46px;
  border: solid 3px #09aeff;
  background-color: #ffffff;
  padding: 0;
  font-size: 31px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  color: #09aeff;
}


