.circle-wrapper {
  width: 11.7rem;
  height: 11.7rem;
  border-radius: 6.6rem;
  top: calc(50% - 5.85rem);
  right: 1.5rem;
}

.inner-icon {
  width: 3.33rem;
  height: 3.33rem;
  object-fit: contain;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white-circle-wrapper {
    background-color: white;
}

.color-circle-wrapper {
    background-image: linear-gradient(178deg, #1040c6 -26%, #09aeff 99%);;
}
