.carousel-indicator {
  justify-content: flex-end;
  align-items: center;
  margin-top: 9rem;
}

.carousel-indicator-item {
  margin-left: 5.4rem;
}

.active {
  width: 7.4rem;
  height: 4.4rem;
}

.inactive {
  width: 4.5rem;
  height: 3.2rem;
}

.left-active,
.right-inactive {
  transform: rotate(180deg);
}

// logic for caurosel

// default state
.left-active,
.right-inactive {
  display: none;
}
