.top-nav-list {
  justify-content: space-between;
  margin: 0 142px 0 142px;
}

// Top left icon 
.rectangle-right-left {
  width: 94px;
  height: 93px;
  background-image: linear-gradient(178deg, #1040c6 -122%, #09aeff 96%);
  font-family: $oswald;
}

.inside-color-background {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  color: white;
}

.conner-circle {
  border-radius: 30% 30% 0% 30%;
}

// Right Nav
.topnav {
  overflow: hidden;
  height: 94px;
  flex-grow: 5;
}

.topnav a {
  float: left;
  display: block;
  color: #030b61;
  text-align: center;
  padding: 32px 22px;
  text-decoration: none;
  font-size: 24px;
  font-family: $muli;
  font-weight: 600;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  color: #0b8fef;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.topnav-right {
  float: right;
}

.topnav > .topnav-right > .custom-button {
  width: 274px;
  border-radius: 44px;
}

